<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
    <session-factory>
        <!-- Configuración de la base de datos MySQL -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bibliotecafx</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">putamierda</property>

        <!-- Dialecto de MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Mostrar las consultas SQL en la consola -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Actualizar la estructura de la base de datos automáticamente -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Especificar las clases de entidades -->
        <mapping class="com.example.biblioteca.entities.Libro"/>
        <mapping class="com.example.biblioteca.entities.Autor"/>
        <mapping class="com.example.biblioteca.entities.Socio"/>
        <mapping class="com.example.biblioteca.entities.Prestamo"/>
    </session-factory>
</hibernate-configuration>
